extends ./header.jade

block title
	title Chatroom

block content
	// TODO: make sure user's input is not too long
	.container(style='height:100%')
		.row
			.col-xs-9(style='padding:0px')
				h2(style='display:inline-block') #{name}
				.dropdown(style='display:inline-block;margin-left:10px;bottom:+5px')
					button(class='btn btn-primary dropdown-toggle' type='button' id='viewmembers' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') View Members 
						span.caret
					ul.dropdown-menu(aria-labelledby='viewmembers')
						each member in members
							li(style='padding:5px') #{member}
			.col-xs-3(style='padding:0px')
				button(type='button' class='btn btn-danger' style='margin-top:20px;margin-bottom:10px;margin-left:5px;float:right') Leave room
				form(action='/logout' method='post')
					button(type='submit' class='btn btn-danger' style='margin-top:20px;margin-bottom:10px;margin-left:5px;float:right') Log out
				a(role='button' class='btn btn-danger' style='margin-top:20px;margin-bottom:10px;margin-left:5px;float:right' href='/contactdir')  Go back

		.row(class='panel' style='height:75%;border:2px solid black;overflow:auto')
			ul.panel-body#messages(class='list-unstyled' style='font-size:20px')
				- var pastTime = '';
				- var color;
				each msg in curMessages
					if msg.username == user
						- color = 'red';
					else
						- color = 'blue';
					if msg.timestamp == pastTime
						- msg.timestamp = '';
					else
						- pastTime = msg.timestamp;
					li
						span(style='color: #{color}') #{msg.username}: 
						| #{msg.text}
						span(style='float:right') #{msg.timestamp}


		.row(style='height:10%')
			.col-xs-11(type='text' class='panel' style='height:100%;border:2px solid black;padding:0px')
				input.form-control(type='text' id='message' style='height:100%;font-size:20px' placeholder='Type a chat message here')
			button.col-xs-1(type='button' class='btn btn-success' id='send' style='height:100%;font-size:20px') Send
	script(src='/socket.io/socket.io.js')
	script.
		var socket = io();
		var curTime = '';
		var MESSAGE_CAPACITY = 50; // maximum number of messages the browser will hold
		var numMessages = #{numMessages}; // number of messages we have already loaded
		var needNewPage = false;
		if (numMessages == MESSAGE_CAPACITY) needNewPage = true;
		socket.emit('join chatroom', {
			chatroomId:'#{id}',
			username: '#{user}'
		});
		function sendMessage() {
			// prevent html injection
			var txt = $('#message').val().replace(/</g, '&lt;').replace(/>/g, '&gt;');
			socket.emit('message', {
				text: txt,
				username: '#{user}',
			});
			$('#message').val('');
			$.ajax({
				url: '/chatroom',
				method: 'POST',
				data: {
					id: '#{id}',
					newPage: needNewPage,
					text: txt,
					user: '#{user}'
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.error('Error saving messages');
				}
			});		
		}
		$('#send').click(sendMessage);
		$('#message').keypress(function() {
			if (event.which == 13) sendMessage();
		});
		socket.on('announcement', function(announcement) {
			$('#messages').append('<li style="color: grey">' + announcement + '</li>');
		});
		socket.on('message', function(message) {
			if (needNewPage) {
				// we have surpassed our capacity
				needNewPage = false;
				$('#messages').empty();
			}
			var color;
			if (message.username == '#{user}') {
				color = 'red';
			} else {
				color = 'blue';
			}
			if (message.timestamp == curTime) message.timestamp = '';
			else curTime = message.timestamp;
			$('#messages').append('<li><span style="color: ' + color + '">' + message.username + '</span>: ' + message.text + '<span style="float:right">' 
			+ message.timestamp + '</span></li>');
			numMessages += 1;
			if (numMessages == MESSAGE_CAPACITY) {
				needNewPage = true;
			}
		});

