extends ./header.jade

block title
	title #{user}'s Contact Page

block content
	.container
		.row
			.col-xs-10(style='padding:0px')
				h1 Welcome, #{user}!
			.col-xs-2(style='padding:0px')
				form(action='/logout' method='post')
					button(type='submit' class='btn btn-danger' style='margin-top:20px;margin-bottom:10px;margin-left:5px;float:right') Log out
		.row
			.col-xs-8(style='padding:0px')
				h2 Here are your chatrooms:
			.col-xs-4(style='padding:0px')
				a(role='button' class='btn btn-primary' style='margin-top:20px;margin-bottom:10px;margin-left:5px;float:right' href='/newroom') Create a new chatroom
				div(style='position:relative;float:right;margin-top:20px;margin-bottom:10px')
					a(role='button' class='btn btn-primary' href='/notifications') View notifications
					- var display = 'none';
					if numNotifications > 0
						- display = 'inline'
					#counter(style='position:absolute;top:-12px;right:4px;padding:2px 2px 2px 2px;background-color:red;color:white;font-weight:bold;font-size:1em;border-radius:2px;display:#{display}') #{numNotifications}
		.row
			div(style='height:30em;background-color:gainsboro;overflow:auto')
				table(class='table table-hover table-bordered' style='background-color:white')
					tr
						th Name
						th Visible to Public
						th Permission Needed
						th Number of People
						th Action
					each chatroom in memberOf
						tr
							td #{chatroom.name}
							if chatroom.isPublic
								td Yes
							else
								td No
							if chatroom.needPermission
								td Yes
							else
								td No
							td #{chatroom.members.length} / #{chatroom.capacity}
							td
								- var chatroomURL = '/chatroom?id=' + chatroom._id;
								a.enter(role='button' class='btn btn-primary' style='margin-right:5px' href=chatroomURL) Connect
								button.leave(type='button' class='btn btn-danger leave' id='#{chatroom._id}') Leave
					each chatroom in memberPending
						tr
							td #{chatroom.name}
							if chatroom.isPublic
								td Yes
							else
								td No
							if chatroom.needPermission
								td Yes
							else
								td No
							td #{chatroom.members.length} / #{chatroom.capacity}
							td
								button.join(type='button' class='btn btn-success' id='#{chatroom._id}' disabled='disabled') Request sent						
					each chatroom in publicRooms
						tr
							td #{chatroom.name}
							td Yes
							if chatroom.needPermission
								td Yes
							else
								td No
							td #{chatroom.members.length} / #{chatroom.capacity}
							td
								if chatroom.members.length == chatroom.capacity
									button.join(type='button' class='btn btn-success join' id='#{chatroom._id}' data-admin='#{chatroom.admin}' disabled) Join
								else
									button.join(type='button' class='btn btn-success join' id='#{chatroom._id}' data-admin='#{chatroom.admin}') Join

		script(src='/socket.io/socket.io.js')
		script.
			var socket = io();
			socket.emit('directory', '#{user}');
			socket.on('notification', function() {
				var counter = $('#counter');
				var numNotifications = Number(counter.text());
				counter.text(numNotifications + 1);
				if (numNotifications == 0) counter.css('display', 'inline');
			});
			$('.leave').click(function() {
				var chatroomId = $(this).attr('id');
				var tableRow = $(this).closest('tr');
				$.ajax({
					url: '/leavechatroom',
					method: 'POST',
					data: {
						user: '#{user}',
						id: chatroomId
					},
					dataType: 'text',
					error: function() {
						console.log('Error leaving chatroom');
					},
					success: function(data) {
						if (data == 'success') {
							// remove the chatroom's row from the table
							tableRow.remove();
						}
					}
				});
			});
			// expected response if the chatroom we want to join needs permission from admin
			var responseForNeedPermission = 'Request sent';
			$('.join').click(function() {
				var chatroomId = $(this).attr('id');
				var chatroomAdmin = $(this).attr('data-admin');
				$.ajax({
					url: '/joinchatroom',
					method: 'POST',
					context: $(this)[0],
					data: {
						user: '#{user}',
						id: chatroomId
					},
					dataType: 'json',
					error: function() {
						console.log('Error joining chatroom');
					},
					success: function(data) {
						if (!data.redirect) {
							// change button's text and disable it to signify that a request to join 
							// has been processed
							$(this).text(data.msg);
							$(this).attr('disabled', 'disabled');
							// tell admin that they have a new request notification if a request was sent
							if (data.msg == responseForNeedPermission) {
								socket.emit('notification', chatroomAdmin);
							}
						} else {
							// else if no approval is needed, simply redirect to the newly joined chatroom
							window.location.href = '/chatroom?id=' + data.msg;
						}
					}
				});
			});




