extends ./header.jade

block title
	title #{user}'s Contact Page

block content
	.container
		.row
			.col-xs-10(style='padding:0px')
				h1 Welcome, #{user}!
			.col-xs-2(style='padding:0px')
				form(action='/logout' method='post')
					button(type='submit' class='btn btn-danger' style='margin-top:20px;margin-bottom:10px;margin-left:5px;float:right') Log out
		.row
			.col-xs-10(style='padding:0px')
				h2 Here are your chatrooms:
			.col-xs-2(style='padding:0px')
				a(role='button' class='btn btn-primary' style='margin-top:20px;margin-bottom:10px;margin-left:5px;float:right' href='/newroom') Create a new chatroom
		.row
			div(style='height:30em;background-color:gainsboro')
				// TODO: scrolling
				table(class='table table-hover table-bordered' style='background-color:white')
					tr
						th Name
						th Access
						th Permission Needed
						th Number of People
						th Action
					each chatroom in memberOf
						tr
							td #{chatroom.name}
							if chatroom.isPublic
								td Yes
							else
								td No
							if chatroom.needPermission
								td Yes
							else
								td No
							td #{chatroom.members.length} / #{chatroom.capacity}
							td
								- var chatroomURL = '/chatroom?id=' + chatroom._id;
								a.enter(role='button' class='btn btn-primary' style='margin-right:5px' href=chatroomURL id='#{chatroom._id}') Connect

								button.leave(type='button' class='btn btn-danger') Leave
					each chatroom in publicRooms
						tr
							td #{chatroom.name}
							td Yes
							if chatroom.needPermission
								td Yes
							else
								td No
							td #{chatroom.members.length} / #{chatroom.capacity}
							td 
								button.join(type='button' class='btn btn-success') Join

		script.





